$black:         #191919;
$white:         #FFFFFF;

$yellow:        #ffff8b;
$violet:        #d9b1ef;
$blue:          #82d1f6;
$orange:        #ff8043;
$soft-orange:   #ffd2b2;
$green:         #cae886;