<div class="d-flex flex-fill flex-column flex-md-row container">
    <div class="row gap-5 gap-md-0">
        <div id="text" class="d-flex flex-column col-12 col-md-6 order-1 order-md-0 text-center text-md-start gap-5">
            <h1>Ponemos tu sentido del olfato al servicio de la ciencia ciudadana.</h1>
            <p>    
                Mide el olor y genera datos científicos para mejorar la calidad de vida de tu comunidad.
                ¡Descárgate la App y siente el poder de la ciencia colaborativa!
            </p>
            <div class="d-flex gap-4 justify-content-center justify-content-md-start">
                <img class="app-link" src="../../../../../assets/img/AppStoreBadge.png">
                <img class="app-link" src="../../../../../assets/img/download.jpeg">
            </div>
        </div>
        <div id="mobile" class="d-flex col-12 col-md-6 order-0 order-md-1 justify-content-center">
            <img id="app-img" src="../../../../../assets/img/app.png">
        </div>
    </div>
</div>
