@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap';
@import 'styles/colors';
@import 'styles/fonts';

html,
body {
    min-height: 100vh;
    background-color: $white;
    background-image: url('assets/img/home-bg.png');
    background-size: cover;
    margin: 0;
    padding: 0;
    color: $black;
    font-family: $main_font;
    app-root,
    app-main{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

a{
    cursor: pointer;
    color: $black;
    &:hover{
        color: $orange;
        text-decoration: none;
    }
}

*{
    -moz-transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}